.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
      /* padding: 10px; */

}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: #15cdfc;
  width: 5px;
  height: 5px;

}
.header__basketCount {
  /* margin-left: 10px;
  margin-right: 10px; */
}



.searchInput {
  width: 400px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-right: 80px;
  color: #1b130e;
  /* border: solid #1b130e; */
  /* box-shadow: 10px 10px 30px #a02a16, -20px -20px 60px #ca523d; */
}
